*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Poppins", Helvetica, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    background-color: transparent;
}

html{
    scroll-behavior: smooth;
    background-color: rgb(10,10,10);
}

.fixed-navbar{
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    background-color: rgb(10, 10, 10);
    align-items: center;
    box-shadow: 0 1px 10px 2px rgb(30, 30, 30);
    padding-right: 200px;
    z-index: 50;
}


.fixed-navbar ul{
    background-color: rgb(10, 10, 10);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 0px 0 50px;
    justify-content: space-between;
}

.fixed-navbar a{
    display: block;
    color: rgb(136, 136, 136);
    text-decoration: none;
    padding: 20px 5px;
    background-color: rgb(10, 10, 10);
    border-radius: 20%;
    width: 75px;
    text-align: center; 
    font-family: "Poppins", sans-serif;
}

.fixed-navbar a:hover{    
    color: rgb(255, 94, 0);
}

#name{
    padding: 0;
    margin-top: 5px;
    color: aliceblue;
}

#options{
    padding: 0 0;
}

.fixed-navbar h2 {
    font-size: 30px;
    padding: 7px;
    background-color: rgb(10, 10, 10);
    display: flex;
    flex-wrap: nowrap;
    
}

.fixed-navbar span{
    font-size: 30px;
    padding: 0px 5px;
    background-color: rgb(10, 10, 10);
    color:rgb(255, 94, 0);
}

.topic{
    padding: 0 60px;
}

.home{
    width: 100%;
    min-height: 544px;
    background-image: linear-gradient(0deg, rgba(10, 10, 10), rgba(10, 10, 15, 0.2)99%), url("./imagens/Design\ sem\ nome\ \(3\).png");
    padding: 0px 60px 0px 60px;
    color: aliceblue;
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 8px 2px 2px rgb(30, 30, 30);
    border-bottom: 2px;
}

.home h1{
    box-shadow: 0px 2px 8px 1px rgb(255, 255, 255);
}

.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count:infinite;
    animation-timing-function:ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

/* Outra seção */

.about{
    width: 100%;
    min-height: 544px;
    background-color: rgb(10, 10, 10);
    padding: 0px 60px 0px 60px;
    color: aliceblue;
    display:flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid rgb(25, 25, 25);
}

.about h2{
    font-size: 40px;
    flex-wrap: nowrap; 
    font-family: "Poppins", sans-serif;   
}

.about span{
    color: rgb(255, 94, 0);
    font-size: 40px;
    font-family: "Poppins", sans-serif;
}

.logo{    
    object-fit: cover;
    margin-top: 20px;
    margin-left: 25px;
    flex-wrap: nowrap;
    width: 48px;
    height: 48px;
    
}

#logo_facebook{
    margin-left: 0;
}

.about p{
    max-width: 600px;
    flex-wrap: wrap;
    text-align: justify;
    font-size: 20px;    
}


#me{
    border-radius: 100%;
    display: flex;
    margin-right: 90px;
    box-shadow: -5px -3px 3px 1px rgb(255, 255, 255);
    width: 300;
    height: 300;
}

/*     proximo bloco de conteudos            */

.skills{
    width: 100%;
    background-color: rgb(10, 10, 10);
    display: block;
    padding-top: 30px;
    height: max-content;
    padding-bottom: 40px;
    justify-content: center;
    border-top: 2px solid rgb(25, 25, 25);
}

.skills #text-title{    
    font-size: 40px;
    text-align: center;
    color: rgb(255, 94, 0);
    min-width: min-content;
}

.skills span{
    font-size: 40px;
    color: rgb(255, 255, 255);
    max-width: max-content;
    
}

.top-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;    
}

#text-title{
    text-align: center;
}

.card{
    display: flex;
    flex-wrap: wrap;
    width: 230px;
    height: 365px;
    margin: 20px 15px 20px 15px;
    padding: 20px 5px;
    background-color: rgba(255, 94, 0, 0.7);
    overflow: hidden;    
    justify-content: center;
    align-items: center;
    border-radius: 2%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -1px inset, rgba(0, 0, 0, 0.3) 0px 18px 20px -1px inset;
}

.card::-webkit-scrollbar{
    width: 10px;
    border-radius: 10px;
}

.card:hover{
    transition: 0.8s;
    box-shadow: 0px 0px 20px 13px rgb(255, 150, 60);
    overflow-y: scroll;
    padding: 10px 5px;
    background: linear-gradient(180deg ,rgb(10,10,10) 55%,rgba(40,10,0));
}

.card img{
    width: 120px;
    height: 160px;
    object-fit: cover;
    margin: 0 110px;
}

.card p{
    display: none;
    color: aliceblue;
    text-align: justify;
    margin: 20px 20px;
    background-color: transparent;
}

.card.dois img {
    width: 230px;
    height: 365px;
    margin: 0;
}

.card.tres img{
    width: 160px;
    height: 160px;
}

.card.quatro img{
    width: max-content; 
}

.button{
    display: flex;
    justify-content: center;
}

#btn2{
    display: none;
}

.bn3637 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 3rem;
  }

  .unview{
    display: none;
  }
  
  .bn37 {
    border-color: transparent;
    background-color: #fff;
    color: #000;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  }
    
  .bn37:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
  }

#curriculo:link{
    color: rgb(255, 255, 255); 
}

#curriculo:visited{
    color: gray;
}

.content-curriculo{
    text-align: center;
}

/* outra sessão */

.projects{
    width: 100%;
    height: 544px;
    display: block;
    background-color: rgb(10, 10, 10); 
    padding-top: 30px;
    padding-bottom: 40px;
    justify-content: center;
    border-top: 2px solid rgb(25, 25, 25);
}

#projects h2{
    color: rgb(255, 255, 255);
    
}

@media(max-width: 759px){

    #options{
        width: max-content;
    }

    .about{
        display: block;
        margin-bottom: 30px;
    }

    #me{
        margin-top: 30px;
    }

}

@media(max-width:677px){
    .fixed-navbar #menu{
        display: block;
    }
}

@media(max-width: 597px){
    
    #skills-mim{        
        margin: 50px 0;
        padding: 0;
    }

    #me{
        display: flex;
        border-radius: 100%;
        margin-right: 25px;
        margin-top: 25px;
        width: 150px;
        height: 150px;
    }

    #options{
        width: max-content;
    }
    
}

@media(max-width: 549px){

    #options a{
        padding: 20px 0px;
    }

    #options{
        width: max-content;
    }    
}

@media(max-width: 417px){

    .logo{
        margin-left: 7px;
        margin-top: 15px;
    }
}

@media(max-width: 364px){
    #logo_instagram{
        margin-right: 70px;
    }

    .skills #text-title{
        font-size: 28px;
    }

    .skills span{
        font-size: 28px;
    }

    #img-card-2{
        width: 160px
    }

    #img-card-3{
        width: 120px;
        height: 120px;
    }

    #img-card-4{
        width: 120px;
        height: 120px;
    }

    .card{
        height: 250px;
        padding: 0px 50px;
    }

    .card:hover{
        padding: 0px 5px;
    }

    .card p{
        margin: 20px 15px;
        width: min-content;
    }

    .card.dois img{
        width: 100px;
        height: 240px;
    }
}

@media(max-width:314px){
    #logo_instagram{
        margin-right: 30px;
    }
}

